
body {
        justify-content: center;
        align-items: center
     }

#principal{
    width: 400px;
         height: 400px;
        background: #fff;
}

@media screen and (max-width: 720px) {
    #principal{
    width: 100%;
         height: 100%;
        background: #fff;
}
}
